/*Mise en page générale*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', serif;
    background-color: white;
}

.container {
    max-width: 1200px;
    /* boite 1200px max centrée */
    margin: 0 auto;
    /* centrage horizontal d'un display block */
    padding-left: 10px;
    padding-right: 10px;
    width: 1200px;
}

#chauve {
    margin-left: -360px;
}


/*--------------------------Header--------------------------*/


/*--------Pré-Header--------*/

.pre-header {
    /**Elements parents*/
    color: #a1a1a1;
    background-color: #282828;
    margin: 0px;
    text-align: center;
}

.pre-header div,
.pre-header nav {
    /*Affichage Flex*/
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    font-size: 0.9rem;
}

.pre-header div {
    justify-content: space-between;
}


/*---------COORDONNEE et COMPTE-------------------------------*/

.pre-header__coords div,
.pre-header__account {
    padding: 15px;
    text-align: center;
}

.btn-grey {
    background-color: #3f3e43;
}

#tel {
    -webkit-filter: invert(50%);
    margin-right: 3px;
}

#mail {
    -webkit-filter: invert(50%);
    margin-right: 3px;
}

.btn-grey phone {
    width: 300px;
    background-color: #3f3e43;
}

.pre-header a {
    text-decoration: none;
    color: #a1a1a1;
}

.pre-header img {
    width: 20px;
    height: 20px;
}


/*--------Main Header--------*/

.main-header {
    /*Parent*/
    margin-top: 3.5px;
    margin-bottom: 2.5px;
    /*Affichage Flex*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*Elements ne dépassent pas de la div container*/
    align-items: center;
    /*Centrer sur une ligne*/
}

.main-header-logo {
    /*Enfant ou flex-item*/
    flex-grow: 2;
}

.main-header__menu {
    /*Enfant*/
    flex-grow: 1;
    margin-left: 80px;
}


/*--------------------RECHERCHE--------------------*/

.header__icones {
    /*Enfant*/
    flex-grow: 0.5;
}

.recherche {
    background: url("../icones/icones-png/magnifying-glass.png") no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
}

.main-header__menu a,
#panier-titre {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-size: 1rem;
}

.main-header__menu a {
    margin: 0px 15px 0px 15px;
}


/* ------------PANIER-----------*/

.panier {
    display: flex;
    margin-left: 15px;
}

#panier-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: url("../icones/icones-png/paper-bag.png") no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
}

.panier #panier__texte {
    margin-left: 10px;
}

#panier-titre {
    font-weight: bolder;
    font-size: 0.7rem;
}

#panier-detail {
    font-weight: 500;
    font-size: 0.7rem;
    margin-top: 3.5px;
}

/*Camille---------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------Produits--------------------------*/
.meuble {
    position: absolute;
    z-index: 0;
}

.informations__meubles {
    z-index: 1;
    margin-top: 7%;
    margin-left: 10%;
}

.acheter {
    font-size: 14px;
    text-transform: uppercase;
    color:white;
}

/*--------Produit Grid 1--------*/

.produit__partie__1 div {
    position: relative;
    overflow: hidden;
}

.products-grid .produit__partie__1 {
    /*Grid*/
    display: grid;
    grid-auto-rows: 291px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: "meuble1 meuble2 meuble3" "meuble1 meuble2 meuble4";
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

/*DIV GRID ---------------*/

#meuble1 {
    grid-area: meuble1;
}

#meuble2 {
    grid-area: meuble2;
}

#meuble3 {
    grid-area: meuble3;
}

#meuble4 {
    grid-area: meuble4;
    background-color: #f8f8f8;
}


#entete{
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

/*------------MEUBLE 1 DESIGN TEXTE ----------*/


#meuble1 img {
    width:143%;
    position: absolute;
}

#meuble1 #entete{
position: relative;
text-decoration: none;
font-size:15px;
margin-top:40%;
background-color: #474747;
width:50%;
padding: 1%;
}

#meuble1 #nouvelle{
    font-size:60px;
    font-weight: bold;
}

#meuble1 #coll{
    font-size:50px;
    font-weight:lighter;
}

#meuble1 a {
    text-decoration: none;
    color: white;
   }

#meuble1 #texteclassique{
     font-family: 'Montserrat', sans-serif;
     padding-top:2px;
}

#meuble1 .price{
    margin-top:10px;

}

/*------------MEUBLE 2 DESIGN TEXTE ----------*/

#meuble2 img {
    left: -50%;
    position: absolute;
}

#meuble2 .informations__meubles {
    width: 285px;
    height: 600px;
    color: white;
    margin-left: 7%;
}

#meuble2 #next {
    -webkit-filter: invert(100%);
    height: 3%;
    padding: 5px;
    border-radius: 60%;
    border: solid 1px black;
    top: 17.5%;
    left: 27%;
}

#meuble2 .price {
    position: absolute;
    color: white;
    text-align: center;
    top:60%;
    left:36%;
    z-index:10;
}

#meuble2 #petitprice {
    position: relative;
    color: white;
    text-align: center;
    top:-25%;
    left:8%;
    z-index:10;
}

#meuble2 #bleu {
    position: relative;
    border-radius: 100%;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    background: #62c5de;
    height: 130px;
    width: 130px;
    top:-32%;
    left: 35%;
}

#meuble2 #entete {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    height: 30px;
}

#meuble2 h3 {
    width: 220px;
    height: 60px;
    font-size:25px;

}

#meuble2 .acheter{
    position: relative;
    padding-top:15px;
}

/*------------MEUBLE 3 DESIGN TEXTE ----------*/
#meuble3 img {
    width: 130%;
    margin-top: -25px;
    position: absolute;
}

#meuble3 h3{
    font-size:25px;
    color:black;
    letter-spacing: 0px;
}

#meuble3 
{
    font-size:15px;
    font-weight:bold;
    letter-spacing: 3px;
}
#meuble3 .price{
    color:darkred;
    font-size:25px;
    margin-bottom: 5px;
    margin-top:55%;
    margin-left:50%;
    letter-spacing: 0px;
    font-weight: normal;
}

#meuble3 a{
    text-decoration:none;
}

#meuble3 .acheter{
        background-color: #000000;
        width:40%;
        padding: 2px;
        text-align: center;
        margin-left: 48%;
        font-weight: normal;
        letter-spacing: 0px;
}
/*------------MEUBLE 4 DESIGN TEXTE ----------*/
#meuble4 img {
    width: 125%;
    margin-top: 70px;
    margin-left: 35px;
    position: absolute;
    z-index:0;
}

#meuble4 h3{
    position: relative;
    top:10%;
    left:10%;
    color: #222222;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 30px;
}

#meuble4 #next{
    padding: 5px;
    border-radius: 60%;
    border: solid 1px black;
    margin-left: 60%;
    margin-top: 50%;
    z-index:1;
}

#meuble4 a img{
    width:7%;
}
#meuble4 .petitprice{
    color:grey;
    font-size:15px;
    position: relative;
    text-decoration-line: line-through;
    top:45%;
    left:10%;
    z-index:10;

}

#meuble4 .price{
    color:#2c2c54;
    font-size:20px;
    position: relative;
    top:47%;
    left:10%;
    font-size: 25px;

}

#meuble4 .acheter{
    position: relative;
    top:55%;
    left:10%;
color:#2c2c54;
z-index:1;
}
/*---------------PRIX------------------*/

.price {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

#petitprice {
    /*le gris est une opacité */
    color: white;
    opacity: 50%;
    text-decoration-line: line-through;
    margin-top: 130%;
}

/*--------Produit Grid 2--------*/

.produit__partie__2 {
    margin-top: 20px;
}

.produit__partie__2 div {
    position: relative;
    overflow: hidden;
}

.produit__partie__2 {
    /*Grid*/
    display: grid;
    grid-template-rows: 250px 350px;
    grid-template-columns: 1.7fr 3fr;
    /*Taille des colonnes*/
    grid-template-areas: "meuble5 meuble7" "meuble6 meuble7";
    grid-column-gap: 20px;
    /*Espace entre colonne*/
    grid-row-gap: 20px;
    /*Espace entre ligne*/
}

/*DIV GRID ---------------*/

#meuble5 {
    grid-area: meuble5;
    background-color: #c6e6a1;
}

#meubl6 {
    grid-area: meuble6;
}

#meuble7 {
    grid-area: meuble7;
}


/*------------MEUBLE 5 DESIGN TEXTE ----------*/
#meuble5 img{
    width: 20%;
}

/*------------MEUBLE 6 DESIGN TEXTE ----------*/


/*------------MEUBLE 7 DESIGN TEXTE ----------*/

/* FIN -----------------------------------------------------------------------------------------------------------------------------------------*/


/*--------Categories--------*/

.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: aqua;
}

.categories img {
    width: 30%;
    height: auto;
    flex: 1;
}


/*--------------------------Partenaires--------------------------*/

h1 {
    text-transform: uppercase;
    font-weight: border;
    font-size: 1.5rem;
}

.partners {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns : 1fr repeat(6,2fr) 1fr;
}


.fleche img {
    /*Gardes les proportions*/
    width: 1%;
    height: auto;
    -webkit-filter: invert(50%);
}

.avant {
    transform: scaleX(-1);
}


/*-------------------------Footer Principal--------------------------*/


/*--------Header Footer--------*/

footer {
    background-color: #f6f6f6;
}


/*--------------------------Avantages--------------------------*/


/*--------------------------Footer Final--------------------------*/


/*--------Copyright--------*/

.sub-footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.sub-footer__copyright {
    color: #a1a1a1;
    font-size: 0.8rem;
}

.sub-footer__copyright span {
    color: black;
}

.sub-footer__payments a {
    text-decoration: none;
}

.sub-footer__payments img {
    margin-left: 15px;
}

.sub-footer__payments img {
    height: 35px;
}